{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row">
	<form method="POST" class="form-inline">
		{% csrf_token %}
		<input type="text" name="url" class="col-lg-6 col-sm-6 col-md-6 col-xs-6" placeholder="Enter URL" required>
		<input type="hidden" name="addmore" value="{{ infos }}" required> 	
		<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>	
	 	<button type="submit" name="b1" class="col-lg-1 col-sm-1 col-md-1 col-xs-1 btn btn-primary">Find</button>
		<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>	

		<button type="submit" name="b2" class="col-lg-1 col-sm-1 col-md-1 col-xs-1 btn btn-primary">Add more</button>
	</form>
		<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>	


	<form method="POST" class="row col-lg-1 col-sm-1 col-md-1 col-xs-1 form-inline">
		{% csrf_token %}
		<input type="hidden" name="dict" class="" value="{{ infos }}" required> 	
		<button type="submit" class=" btn btn-primary">CSV</button>
	</form>
</div>

<br><br>

	<table class="table table-responsive table-bordered table-striped">
	    <thead>
	      <tr>
	      	<th>SN.</th>
	        <th>Recruiter Name</th>
	        <th>Telephone</th>
	        <th>Website</th>
	        <th>Email Address</th>
	        <th>Address</th>
	        <th>Company</th>
	      </tr>
	    </thead>
	    <tbody>
			{% for info in infos %}
			<tr>
					<td>{{ info.number }}</td>
					<td>{{ info.RecruiterName }}</td>
					<td>{{ info.tel }}</td>
					<td>{{ info.Website }}</td>
					<td>{{ info.EmailAddress }}</td>
					<td>{{ info.Address }}</td>
					<td>{{ info.ContactCompany }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block domready %}
{% endblock %}
