{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<center>
	<table>
		<tr>
			<td>
				<h1> <a href="{% url 'naukri:index' %}"> Naukri </a> </h1>
			</td>
		</tr>

		<tr>
			<td>
				<h1> <a href="{% url 'shine:index' %}"> Shine </a> </h1>
			</td>
		</tr>

		<tr>
			<td>
				<h1> <a href="{% url 'calculator:index' %}"> Calculator </a> </h1>
			</td>
		</tr>
		<tr>
			<td>
				<h1> <a href="{% url 'cid:index' %}"> Companies in Delhi </a> </h1>
			</td>
		</tr>
		<tr>
			<td>
				<h1> <a href="{% url 'zomato:index' %}"> VCS Companies </a> </h1>
			</td>
		</tr>

	</table>
</center>


{% endblock %}


{% block domready %}

{% endblock %}
